#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  padding-top: 55px;
  box-sizing: border-box;
}

a {
  color: #42b983;
}

button {
  color: #fff;
  background-color: rgba(#0078ff,0.8);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.preview {}
